@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERALES */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #f4f4f4;
}

h3, h4 {
    color: #0056b3;
}

/* ESTILOS MENU */
header {
    position: absolute;
    z-index: 1;
}

header nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0, 0, 0, 0.596);
    box-shadow: 1px 6px 13px 0px rgba(0,0,0,0.5);
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 45px;
    font-size: 16px;
    transition: 0.3s;
}

header nav a:hover {
    color: #0056b3;
}

header nav a:active {
    color: #6a6a6a;
}

header nav img {
    vertical-align: middle;
    width: 40px;
}

#logo {
    left: 0;
    position: absolute;
}

#menu, .icono-menu {
    display: none;
}

.container-acciones {
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 20px;

}

.search-container {
    position: relative;
    margin-right: 150px;
}

#buscar {
    padding: 8px 10px 8px 30px;
    border: 1px solid rgba(255, 255, 255, 0.180);
    border-radius: 20px;
    background-color: transparent;
    color: #ecf0f1;
}

#buscar::placeholder {
    color: #bdc3c7;
}

#buscar:hover {
    border: 1px solid #007bff;
}

.search-container button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #bdc3c7;
    cursor: pointer;
}

select {
    background: transparent;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.180);
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

select option {
    background-color: #111c31d9;
    color: #0056b3;
}

select:hover {
    border: 1px solid #007bff;
}

/* ESTILOS MAIN */
main {
    padding: 100px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0,123,255,1) 1%, rgba(24,79,138,1) 20%, rgba(12,40,69,1) 40%, rgba(0,0,0,1) 100%);
    box-shadow: inset 0px -97px 81px -55px rgba(0,0,0,0.7);
}

main h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

main p {
    margin: 10px;
    font-size: 14px;
}

/* ESTILOS FORMULARIO */
form {
    max-width: 600px;
    padding: 20px;
    margin: 40px auto;
    background-color: rgba(12, 21, 38, 0.503);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 0.3s;
}

form div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form input {
    width: 45%;
    color: white;
}

form:hover {
    background-color:#111c31d9;
}

.fa-envelope {
    margin: 10px;
    font-size: 1.5em;
    color: white;
}

form input, textarea {
    color: white;
    margin: 10px;
    padding: 15px 10px;
    background-color: transparent;
    border: 1px solid #ffffff22;
    border-radius: 8px;
}

form input:focus, form textarea:focus, form button:focus {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form textarea {
    resize: none;
    width: 100%;
}

form button {
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #007bff;
    transition: 0.5s ease;
    user-select: none;
}

form button:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff;
}

form button:active {
  color: #ffffff;
  background: #333;
  border: 1px solid #333;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #333, 0 0 20px #333;
}


/* ESTILOS FOOTER */
footer {
    font-weight: 200;
    padding: 20px 0 0 0;
    background-color: #111c31d9;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


footer ul li a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

footer ul li a:hover {
    color: #007bff;
}

footer .fa-brands {
    padding: 15px;
    margin: 10px 0px;
    font-size: 1.5em;
    border-radius: 50px;
}

footer .fa-brands:hover {
    background-color: #44444418;
}

footer p {
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

footer p a {
    color: #d1d1d1;
    transition: 0.3s;
}

footer p a:hover {
    color: #007bff;
}

footer hr {
    border: 1px solid rgb(102, 102, 102, 0.150);
    margin: 0px 100px 30px 100px;
}

/* ESTILOS RESPONSIVE */
@media screen and (max-width: 1500px) {
    header nav {
        padding: 27px 0;
    }

    .icono-menu {
        display: block;
        position: absolute;
        right: 30px;
        font-size: 30px;
        cursor: pointer;
    }

    .container-acciones {
        margin-right: 30px;
    }

    .enlaces {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.3s;
    }

    .enlaces a {
        margin: 10px 0;
    }

    #menu:checked ~ .enlaces {
        display: flex;
    }

    #menu:checked ~ .icono-menu {
        color: #007bff;
    }
}

@media screen and (max-width: 750px) {
    main {
        padding: 100px 70px;
    }

    main h2 {
        font-size: 20px;
    }

    main p, form input::placeholder, form textarea::placeholder, form button, form input, form textarea {
        font-size: 12px;
    }

    form input, textarea {
        padding: 10px;
    }

    form input {
        width: 100%;
    }

    footer ul li {
        display: none;
    }
    
    footer ul:last-of-type li {
        display: block;
    }

    footer hr {
        display: none;
    }

    footer, footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .container-acciones {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    select {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        right: 0;
        margin-top: 240px;
    }

    .search-container {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 160px;
    }

    .enlaces {
        height: 27vh;
        padding: 20px; 
    }

    .enlaces a {
        margin: 5px 0;
    }

    #menu:checked ~ .enlaces, 
    #menu:checked ~ .container-acciones {
        display: flex;
    }
}